        table,
        tr,
        th,
        td,
        caption {
            border: 2px solid black;
            border-collapse: collapse;
            padding: 4px;
        }

        h1 {
            color: blue;
        }